@function em2px($target) {
    @if $target == 0 { @return 0 }
    @return ($target / 1em) * 16 + 0px;
}

.carousel-container {
    $carousel_blue: #2865a7;
    $carousel_white: #ffffff;
    $carousel_grey: #9c9c9c;
    $shadow_color: rgba(156, 156, 156, 0.5);
    $overlay_color: rgba(0, 0, 0, 0.5);
    $loading_grey: #e4e4e4;

    .header {
        display: flex;
        align-items: center;

        .icon-container {
            flex: 0;

            .icon {
                color: $carousel_white;
                background: $carousel_blue;
                font-size: 2em;
                padding: .3em .4em;
                border-radius: .2em;
            }
        }
        
        .title-container {
            flex: 1 0;
            padding-left: 2em;

            .title {
                font-size: 1.8em;
                color: $carousel_blue;
                display: flex;
                align-items: center;

                .arrow {
                    font-size: 1em;
                    font-weight: bold;
                }
            }
            .subtitle {
                font-size: 1em;
                color: $carousel_grey;
            }
        }
    }

    .body {
        padding-top: 2em;

        .carousel {
            $box_shadow: 0 .1em .1em .03em $shadow_color;
            $card_full_width: 15em;
            $card_full_height: 17em;
            $card_image_height: 7.5em;
            $collection_bottom_margin: .2em;
            $collection_bottom_height: .18em;
            // card height + collection bars height + shadow height
            $slide_full_height: $card_full_height + $collection_bottom_height * 2 + .2em;

            cursor: pointer;
            position: relative;

            .card-container {
                overflow: hidden;
                display: flex;
                height: $slide_full_height;

                .bottom-bars {
                    display: none;
                }
    
                .box-shadow {
                    box-shadow: $box_shadow;
                    -moz-box-shadow: $box_shadow;
                    -webkit-box-shadow: $box_shadow;
                }
    
                .card {
                    width: $card_full_width;
                    min-width: $card_full_width;
                    .image-container {
                        position: relative;
                        .image {
                            width: 100%;
                            background-color: $loading_grey;
                            height: $card_image_height;
                        }
                        .transparent-label {
                            position: absolute;
                            font-size: .75em;
                            height: 2em;
                            line-height: 2em;
                            background: $overlay_color;
                            color: $carousel_white;
                            padding: 0 .5em;
                            font-weight: bold;
                        }
                    }
                    .description-container {
                        z-index: 99;
                        height: $card_full_height - $card_image_height;
                        background: $carousel_white;
                        position: relative;
                        @extend .box-shadow;
        
                        .content {
                            padding: 1em;
                            height: inherit;
        
                            .description {
                                font-size: 1em;
                                font-weight: bold;
                                color: $carousel_blue;
                                height: 50%;
                                // unfortunately, this does not work for firefox and edge
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical; 
                            }
                            .language {
                                padding-top: 1.5em;
                                font-size: 1em;
                                color: $carousel_grey;
                            }
                        }
                    }
                }
    
                .card:not(:first-child) {
                    margin-left: 1em;
                }
    
                .collection {
                    .bar {
                        height: $collection_bottom_height;
                        background: $carousel_white;
                        position: relative;
                        @extend .box-shadow;
                    }
    
                    .bottom-bars {
                        display: block;
    
                        .bar1 {
                            @extend .bar;
                            z-index: 98;
                            margin: 0 $collection_bottom_margin;
                        }
                        .bar2 {
                            @extend .bar;
                            z-index: 97;
                            margin: 0 $collection_bottom_margin * 2;
                        }
                    }
                }

                .placeholder {
                    // source https://codepen.io/JCLee/pen/dyPejGV
                    .skeleton-box {
                        background: $loading_grey;
                        &::after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            transform: translateX(-100%);
                            background-image: linear-gradient(
                              90deg,
                              rgba(#fff, 0) 0,
                              rgba(#fff, 0.2) 20%,
                              rgba(#fff, 0.5) 60%,
                              rgba(#fff, 0)
                            );
                            animation: shimmer 2s infinite;
                            content: '';
                        }
                        @keyframes shimmer {
                            100% {
                                transform: translateX(100%);
                            }
                        }
                    }

                    .skeleton-bar {
                        height: .8em;
                    }
                    .image-container {
                        .image {
                            @extend .skeleton-box;
                        }
                    }
                    .description-container {
                        .ske-row {
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;
                        }
                        .ske-line {
                            @extend .skeleton-box;
                            @extend .skeleton-bar;
                        }
                    }
                }

                .see-more {
                    background-color: $carousel_blue;
                    color: $carousel_white;
                    font-weight: bold;
                    height: $card_full_height;

                    .content {
                        padding: 1.2em;
                        font-size: 2.5em;
                    }
                }
            }

            .slider {
                $slider_width: 3em;
                $arrow_size: 2em;

                z-index: 999;
                display: none;
                position: absolute;
                height: $card_full_height;
                width: $slider_width;
                background: $overlay_color;

                .arrow {
                    position: absolute;
                    font-size: $arrow_size;
                    color: $carousel_white;
                    margin: auto;
                    left: (em2px($slider_width) - em2px($arrow_size)) / 2;
                    top: (em2px($card_full_height) - em2px($arrow_size)) / 2;
                }
            }
        }
    }

    // extras

    .d-none {
        display: none !important;
    }
    
    .d-block {
        display: block !important;
    }
    
    .left {
        left: 0;
    }
    
    .right {
        right: 0;
    }
    
    .bottom {
        bottom: 0;
    }
    
    .top {
        top: 0;
    }
}